        <div class="product">
          <div class="product__information">
            <h2 class="product__title">{{ product.name }}</h2>
            <img src="{{ product.image|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
            <p class="product__description">{{ product.content|striptags }}</p>
            <div>
              <label for="{{ product.id }}-size">Taille :</label>
              <select id="{{ product.id }}-size" class="size">
                {%- for variant in product.variants ~%}
                <option value="{{ variant.value }}">{{ variant.html }}</option>
                {%- endfor ~%}
              </select><br>
              <label for="{{ product.id }}-qty">Quantité :</label>
              <input type="number" id="{{ product.id }}-qty" class="qty" min="1" value="1" />
              <button
                class="buy-button snipcart-add-item"
                data-item-id="{{ product.id|replace({'products/':''}) }}"
                data-item-price="{{ product.price }}"
                data-item-url="{{ url(product,{canonical:true}) }}"
                data-item-name="{{ product.name }}"
                data-item-description="{{ product.description }}"
                data-item-image="{{ product.image }}"
                data-item-quantity="1"
                data-item-max-quantity="99"
                data-item-stackable="auto"
                data-item-custom1-name="Taille"
                data-item-custom1-options="{{ product.variants|map(v => "#{v.value}[#{v.price}]")|join('|') }}"
              >
                Commmander
              </button>
            </div>
          </div>
          <img src="{{ product.image|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
        </div>
