{% set productId = product.id|replace({'products/':''}) %}
        <div class="product">
          <div class="product__information">
            <h2 class="product__title">{{ product.name }}</h2>
            <img src="{{ asset(product.image)|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
            <div class="product__description">{{ product.content }}</div>
            <div>
              <label for="{{ productId }}-format">Format :</label>
              <select id="{{ productId }}-format" class="format">
                {%- for format in product.variants.formats ~%}
                <option value="{{ format.value }}">{{ format.html }}</option>
                {%- endfor ~%}
              </select><br>
              <label for="{{ productId }}-qty">Quantité :</label>
              <input type="number" id="{{ productId }}-qty" class="qty" min="1" value="1" />
              <button
                class="buy-button snipcart-add-item"
                data-item-id="{{ productId|replace({'products/':''}) }}"
                data-item-price="{{ product.price }}"
                data-item-url="{{ url(product,{canonical:true}) }}"
                data-item-name="{{ product.name }}"
                {%- if product.description is defined and product.description %}data-item-description="{{ product.description }}"{% endif ~%}
                data-item-image="{{ asset(product.image,{fingerprint:false})|url({canonical:true}) }}"
                data-item-quantity="1"
                data-item-max-quantity="99"
                data-item-stackable="auto"
                data-item-custom1-name="Format"
                data-item-custom1-options="{{ product.variants.formats|map(v => "#{v.value}[#{v.price}]")|join('|') }}"
              >
                Commmander
              </button>
            </div>
          </div>
          <img src="{{ asset(product.image)|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
        </div>
