{#- varibles: product -#}
{%- set productId = product.id|replace({(product.section ~ '/'):''}) -%}
{%- set image = asset(product.image) ~%}
      <div class="product">
        <div class="product__information">
          <h2 class="product__title">
            {%- if home is defined and home ~%}
            <a href="{{ url(product) }}">{{ product.name }}</a>
            {%- else ~%}
            {{ product.name }}
            {%- endif ~%}
          </h2>
          {%~ include 'components/carousel.html.twig' with {'product':product,'image':image} %}
          <div class="product__description">{{ product.content }}</div>
          <div class="product__details">
            {%- if product.variants is defined ~%}
            <div>
              {%- for variant in product.variants ~%}
                {%- if variant.options is defined ~%}
              <label for="{{ productId }}-{{ variant.name|lower }}">{{ variant.name }}</label>
              <select id="{{ productId }}-{{ variant.name|lower }}" class="{{ variant.name|lower }}">
                  {%- for option in variant.options ~%}
                <option value="{{ option.value }}">{{ option.html }}</option>
                  {%- endfor ~%}
              </select>
                {%- endif ~%}
              {%- endfor ~%}
            </div>
            {%- endif ~%}
            <div>
              <label for="{{ productId }}-qty">Quantité</label>
              <input type="number" id="{{ productId }}-qty" class="qty" min="1" max="10" value="1" />
            </div>
            {%~ include 'components/add-item.html.twig' with {'productId':productId,'product':product,'label':"Ajouter au panier"} only ~%}
          </div>
        </div>
        {%~ include 'components/carousel.html.twig' with {'product':product,'image':image} ~%}
      </div>