{% set productId = product.id|replace({'#{product.section/}':''}) %}
        <div class="product">
          <div class="product__information">
            <h2 class="product__title">{{ product.name }}</h2>
            <img src="{{ asset(product.image)|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
            <div class="product__description">{{ product.content }}</div>
            <div class="product__details">
              {%- for variant in product.variants ~%}
              <div>
                <label for="{{ productId }}-{{ variant.name|lower }}">{{ variant.name }}</label>
                <select id="{{ productId }}-{{ variant.name|lower }}" class="{{ variant.name|lower }}">
                  {%- for option in variant.options ~%}
                  <option value="{{ option.value }}">{{ option.html }}</option>
                  {%- endfor ~%}
                </select>
              </div>
              {%- endfor ~%}
              <div>
                <label for="{{ productId }}-qty">Quantité</label>
                <input type="number" id="{{ productId }}-qty" class="qty" min="1" value="1" />
              </div>
              <button class="buy-button snipcart-add-item"
                data-item-id="{{ productId|replace({'products/':''}) }}"
                data-item-price="{{ product.price }}"
                data-item-url="{{ url(product,{canonical:true}) }}"
                data-item-name="{{ product.name }}"
                {%- if product.description is defined and product.description %}data-item-description="{{ product.description }}"{% endif ~%}
                data-item-image="{{ asset(product.image,{fingerprint:false})|url({canonical:true}) }}"
                data-item-quantity="1"
                data-item-max-quantity="99"
                data-item-stackable="auto"
                {%- for variant in product.variants ~%}
                data-item-custom{{ loop.index }}-name="{{ variant.name }}"
                data-item-custom{{ loop.index }}-options="{{ variant.options|map(v => "#{v.value}[#{v.price}]")|join('|') }}"
                {%- endfor ~%}
              >
                Ajouter au panier
              </button>
            </div>
          </div>
          <img src="{{ asset(product.image)|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
        </div>
