{#- Varibles: product -#}
{%- set productId = product.id|replace({(product.section ~ '/'):''}) -%}
{%- set image = asset(product.image)|resize(800) ~%}
      <div class="product">
        <div class="product__information">
          {%- if home is defined and home ~%}
          <h2 class="product__title"><a href="{{ url(product) }}">{{ product.name }}</a></h2>
          {%- else ~%}
          <h1 class="product__title">{{ product.name }}</h1>
          {%- endif ~%}
          {%~ include 'components/carousel.html.twig' with {'product':product,'image':image} ~%}
          <div class="product__description">
            {{ product.content }}
            <p>{{ product.details|markdown_to_html }}</p>
          </div>
          <div class="product__details">
            {%- if product.variants is defined ~%}
            <div>
              {%- for variant in product.variants ~%}
                {%- if variant.options is defined ~%}
              <label for="{{ productId }}-{{ variant.name|lower }}">{{ variant.name }}</label>
              <select id="{{ productId }}-{{ variant.name|lower }}" class="{{ variant.name|lower }}">
                  {%- for option in variant.options ~%}
                <option value="{{ option.value }}">{{ option.html }}</option>
                  {%- endfor ~%}
              </select>
                {%- endif ~%}
              {%- endfor ~%}
            </div>
            {%- endif ~%}
            <div>
              <label for="{{ productId }}-qty">{% trans "Quantité" %}</label>
              <input type="number" id="{{ productId }}-qty" class="qty" min="1" max="10" value="1" />
            </div>
            {%~ include 'components/add-item.html.twig' with {'productId':productId,'product':product,'label':"Ajouter au panier"|trans} only ~%}
          </div>
        </div>
        {%~ include 'components/carousel.html.twig' with {'product':product,'image':image} ~%}
      </div>
{# Structured data #}
{% set currency = 'EUR' %}
{% set variantIndex = product.variants|column('name')|filter(name => name == 'Format')|keys|first %}
{% if product.variants[variantIndex].options is defined %}
      <script type="application/ld+json">{%- apply minify_js ~%}
        {
          "@context": "https://schema.org",
          "@type": "Product",
          "name": "{{ product.name }}",
          "description": "{{ product.description }}",
          "image": "{{ image|url({canonical:true}) }}",
          "url": "{{ url(product,{canonical:true}) }}",
          "brand": {
            "@type": "Brand",
            "name": "{{ site.author.name }}"
          },
          "offers": {
            "@type": "AggregateOffer",
            "priceCurrency": "{{ currency }}",
            "lowPrice": {{ (product.price + min(product.variants[variantIndex].options|column('price')))|number_format(2) }},
            "highPrice": {{ (product.price + max(product.variants[variantIndex].options|column('price')))|number_format(2) }},
            "offerCount": "{{ product.variants[variantIndex].options|length }}",
            "offers": [
              {%- for option in product.variants[variantIndex].options|sort((a, b) => a.price <=> b.price) -%}{
              "@type": "Offer",
              "name": "{{ product.name }} {{ option.value }}",
              "description": "{{ product.description }}",
              "image": "{{ image|url({canonical:true}) }}",
              "url": "{{ url(product,{canonical:true}) }}",
              "sku": "{{ productId }}-{{ option.value|lower }}",
              "priceCurrency": "{{ currency }}",
              "price": {{ (product.price + option.price)|number_format(2) }},
              "itemCondition": "https://schema.org/NewCondition",
              "availability": "https://schema.org/InStock"
            }{% if not loop.last %},{% endif %}
            {%- endfor ~%}]
          }
        }
      {% endapply %}</script>
{%- endif -%}