{#- varibles: product -#}
{%- set productId = product.id|replace({(product.section ~ '/'):''}) -%}
{%- set image = asset(product.image) ~%}
      <div class="product">
        <div class="product__information">
          {%- if home is defined and home ~%}
          <h2 class="product__title"><a href="{{ url(product) }}">{{ product.name }}</a></h2>
          {%- else ~%}
          <h1 class="product__title">{{ product.name }}</h1>
          {%- endif ~%}
          {%~ include 'components/carousel.html.twig' with {'product':product,'image':image} ~%}
          <div class="product__description">{{ product.content }}</div>
          <div class="product__details">
            {%- if product.variants is defined ~%}
            <div>
              {%- for variant in product.variants ~%}
                {%- if variant.options is defined ~%}
              <label for="{{ productId }}-{{ variant.name|lower }}">{{ variant.name }}</label>
              <select id="{{ productId }}-{{ variant.name|lower }}" class="{{ variant.name|lower }}">
                  {%- for option in variant.options ~%}
                <option value="{{ option.value }}">{{ option.html }}</option>
                  {%- endfor ~%}
              </select>
                {%- endif ~%}
              {%- endfor ~%}
            </div>
            {%- endif ~%}
            <div>
              <label for="{{ productId }}-qty">Quantité</label>
              <input type="number" id="{{ productId }}-qty" class="qty" min="1" max="10" value="1" />
            </div>
            {%~ include 'components/add-item.html.twig' with {'productId':productId,'product':product,'label':"Ajouter au panier"} only ~%}
          </div>
        </div>
        {%~ include 'components/carousel.html.twig' with {'product':product,'image':image} ~%}
      </div>
{# Structured data #}
{% set variantIndex, currency = 0, 'EUR' %}
      <script type="application/ld+json">{% apply minify_js %}
        {
          "@context": "https://schema.org",
          "@type": "Product",
          "name": "{{ product.name }}",
          "image": "{{ image|url({canonical:true}) }}",
          "description": "{{ product.description }}",
          "sku": "{{ productId }}",
          "url": "{{ url(product,{canonical:true}) }}",
          "offers": {
            "@type": "AggregateOffer",
            "highPrice": {{ (product.price + max(product.variants[variantIndex].options|column('price')))|number_format(2) }},
            "lowPrice": {{ (product.price + min(product.variants[variantIndex].options|column('price')))|number_format(2) }},
            "priceCurrency": "{{ currency }}"
          },
          "model": [
          {%- for option in product.variants[variantIndex].options -%}
          {
            "@type": "ProductModel",
            "name": "{{ product.name }}",
            "offers": {
              "@type": "Offer",
              "price": {{ (product.price + option.price)|number_format(2) }},
              "name": "{{ product.name }} {{ option.value }}",
              "availability": "InStock"
            }
          }{% if not loop.last %},{% endif %}
          {%- endfor ~%}]
        }
      {% endapply %}</script>