    <footer class="footer">
      <div class="footer__content">
        <div class="footer__menu">
          {%- for item in site.menus.footer|sort_by_weight ~%}
          <span class="item__{{ item.weight }} item__nav{% if url(item.url) == url(page) %} item__current{% endif %}">
            <a href="{{ url(item.url) }}">{{ item.name }}</a>
          </span>
          {%- endfor ~%}
        </div>
        <div class="footer__copyright">
          <a href="{{ site.author.url }}">{{ site.author.name }}</a> {{ 'now'|date('Y') }} - {% trans %}Tous droits réservés{% endtrans %}<br>{% trans %}Boutique propulsée par{% endtrans %} <a href="{{ cecil.url }}">Cecil</a> & <a href="https://snipcart.com">Snipcart</a>{% if page.translations|length >= 1 %} - {% include 'partials/languages.html.twig' %}{% endif ~%}
        </div>
      </div>
    </footer>
    {#- Snipcart ~#}
    <div hidden id="snipcart" data-api-key="{{ site.snipcart.apikey }}" data-config-modal-style="side" data-templates-url="/snipcart/templates.tpl"></div>
    <script src="{{ asset('https://cdn.snipcart.com/themes/v' ~ site.snipcart.version ~ '/default/snipcart.js',{minify:false}) }}" defer></script>
    <script>{%- apply minify_js ~%}
      document.addEventListener('snipcart.ready', function() {
        // Language
        fetch('/snipcart/{{ language }}.json')
          .then(response => response.json())
          .then(translation => Snipcart.api.session.setLanguage('{{ language }}', translation));
        // Payment form
        Snipcart.api.theme.customization.registerPaymentFormCustomization({
          input: {
            border: '1px solid #F3F3F3',
          }
        });
      });
    {% endapply -%}</script>
    {%~ include 'partials/googleanalytics.js.twig' ~%}
    {%~ include 'partials/cloudflareinsights.js.twig' ~%}