    <footer class="footer">
      <div class="footer__content">
        <div class="footer__menu">
          {%- for item in site.menus.footer|sort_by_weight ~%}
          <span class="item__{{ item.weight }} item__nav{% if url(item.url) == url(page) %} item__current{% endif %}">
            <a href="{{ url(item.url) }}">{{ item.name }}</a>
          </span>
          {%- endfor ~%}
        </div>
        <div class="footer__copyright"><a href="{{ site.author.url }}">{{ site.author.name }}</a> {{ 'now'|date('Y') }} - Tous droits réservés - Boutique propulsée par <a href="{{ cecil.url }}">Cecil</a> & <a href="https://snipcart.com">Snipcart</a>.</div>
      </div>
    </footer>
    {#- Snipcart ~#}
    <div hidden id="snipcart" data-api-key="{{ site.snipcart.apikey }}" data-config-modal-style="side" data-templates-url="/snipcart/templates.tpl"></div>
    <script src="{{ asset('/snipcart/v' ~ site.snipcart.version ~ '.js')|url }}" defer></script>
    <script>
      document.addEventListener('snipcart.ready', function() {
        fetch('/snipcart/{{ language }}.json')
          .then(response => response.json())
          .then(translation => Snipcart.api.session.setLanguage('{{ language }}', translation))
      });
    </script>
    {%~ include 'partials/googleanalytics.js.twig' ~%}
    {%~ include 'partials/cloudflareinsights.js.twig' ~%}
