    <footer class="footer">
      <div class="footer__content">
        <div class="footer__menu">
          {%- for item in site.menus.footer|sort_by_weight ~%}
          <span class="item {{ item.weight }} item--nav{% if url(item.url) == url(page) %} item--current{% endif %}">
            <a href="{{ url(item.url) }}">{{ item.name }}</a>
          </span>
          {%- endfor ~%}
        </div>
        <div class="footer__copyright">Studio Cecillie {{ 'now'|date('Y') }} - Tous droits réservés - Boutique propulsé par <a href="{{ cecil.url }}">Cecil</a> & <a href="https://snipcart.com/">Snipcart</a>.</div>
        {#-
        <div class="footer__socials">
          <a href="https://twitter.com/onibd">Twitter</a> | <a href="https://github.com/cecillie/eshop">Github</a>
        </div>
        ~#}
      </div>
    </footer>
    {#- Snipcart ~#}
    <div hidden id="snipcart" data-api-key="{{ site.snipcart.api_key }}" data-config-modal-style="side" data-templates-url="/snipcart-templates.tpl"></div>
    <script src="https://cdn.snipcart.com/themes/v{{ site.snipcart.version }}/default/snipcart.js" defer></script>
    <script>
      document.addEventListener('snipcart.ready', function() {
        fetch('{{ language.locale|replace({'_':'-'}) }}.json')
          .then(response => response.json())
          .then(translation => Snipcart.api.session.setLanguage('{{ language.locale|replace({'_':'-'}) }}', translation))
      });
    </script>
    {%~ include 'partials/googleanalytics.js.twig' ~%}
