<div class="product">
  <div class="product__information">
    <h2 class="product__title">{{ product.name }}</h2>
    <img src="{{ product.image|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
    <p class="product__description">{{ product.content }}</p>
    {% include 'partials/product-definition.html.twig' %}
  </div>
  <img src="{{ product.image|default('images/default.png') }}" alt="Image de {{ product.name }}" class="product__image">
</div>
